<a class="xs-card" href="{{ cardPrefix }}/extensions/{{ card.id }}/">
  <span class="xs-card__icon" aria-hidden="true">{% if card.iconIsImage %}<img src="{{ card.icon }}" alt="" width="32" height="32">{% else %}{{ card.icon }}{% endif %}</span>
  <span class="xs-card__text">
    <span class="xs-card__name">{{ card.name }}</span>
    <span class="xs-card__desc">{{ ("tool.ext_gallery.desc." + card.id) | t }}</span>
  </span>
</a>
