<footer class="site-footer">
    {%- set aboutHref = '/about/' | localeUrl(lang) -%}
    <p>{{ "footer.copyright" | t | replace("Mentria", '<a href="' ~ aboutHref ~ '">Mentria</a>') | safe }}</p>
</footer>
