<script type="importmap">{"imports":{"three":"/assets/vendor/three-0.186.0/build/three.module.min.js","three/addons/":"/assets/vendor/three-0.186.0/examples/jsm/","/assets/vendor/three-0.186.0/build/three.core.js":"/assets/vendor/three-0.186.0/build/three.core.min.js"}}</script>