---
layout: null
pagination:
  data: locales
  size: 1
  alias: locale
permalink: "{{ locale.pathPrefix }}/feed/index.html"
eleventyExcludeFromCollections: true
eleventyExcludeFromSitemap: true
---
<!doctype html>
<html lang="{{ locale.code }}"><head>
<meta charset="utf-8">
<title>mentria</title>
<meta http-equiv="refresh" content="0; url={{ locale.pathPrefix }}/">
<link rel="canonical" href="{{ site.siteUrl }}{{ locale.pathPrefix }}/">
<meta name="robots" content="noindex">
</head><body>
<p><a href="{{ locale.pathPrefix }}/">{{ site.siteUrl }}{{ locale.pathPrefix }}/</a></p>
<script>location.replace('{{ locale.pathPrefix }}/');</script>
</body></html>
