---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
layout: null
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all -%}
{%- if not page.data.eleventyExcludeFromSitemap %}
  <url>
    <loc>{{ site.siteUrl }}{{ page.url }}</loc>
    <lastmod>{{ (page.data.modified or page.date).toISOString() }}</lastmod>
  </url>
{%- endif -%}
{%- endfor %}
</urlset>
