---
pagination:
  data: locales
  size: 1
  alias: locale
permalink: "/assets/js/site-palette.{{ locale.code | lower }}.js"
eleventyExcludeFromCollections: true
eleventyComputed:
  lang: "{{ locale.code }}"
---
{%- set localePrefix = (locale.pathPrefix | default("")) -%}
{% include "site/palette.njk" %}
